<!DOCTYPE html> 
<head>
    <title>
        EMPLOYEE VIEW 
    </title>
    <link  rel="stylesheet" href="css files/boot.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</head>
<body>
    <form method="POST" action="" >
       <div class="col-75">
           <label for="employeeName" >EMPLOYEE NAME:</label>
           <input type="text" id="employeeName" name="employeeName"> <br>
      </div> 
      <div class="col-75">
        <label for="employeeName" >EMPLOYEE NAME:</label>
        <input type="text" id="employeeName" name="employeeName"> <br>
      </div> 
      <div class="col-75">
        <label for="employeeName" >EMPLOYEE NAME:</label>
        <input type="text" id="employeeName" name="employeeName"> <br>
      </div> 
 
    </form>
</body>
</html>